.single {
  display: flex;
  width: 100%;
  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;
      .buttonContainer {
        display: flex;
        flex-direction: column;
      }

      .firstRow {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
      }

      .secondRow {
        display: flex;
        gap: 10px;
      }

      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;
        .paymentButton {
          padding: 8px 16px;
          background-color: #1ae427;
          color: #fff;
          border: none;
          border-radius: 10px;
          transition: all 0.2s ease-in-out;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: #1c7913;
          }
        }
        .costButton {
          padding: 8px 16px;
          background-color: #f20000;
          color: #fff;
          border: none;
          border-radius: 10px;
          transition: all 0.2s ease-in-out;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: #761818;
          }
        }
        .pdfButton {
          padding: 8px 16px;
          background-color: #4b56d2;
          color: #fff;
          border: none;
          border-radius: 10px;
          transition: all 0.2s ease-in-out;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: #472183;
          }
        }
        .paymentCategoryButton {
          padding: 5px 10px;
          background-color: #1ae427;
          color: #fff;
          border: none;
          border-radius: 10px;
          transition: all 0.2s ease-in-out;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: #1c7913;
          }
        }
        .costCategoryButton {
          padding: 5px 10px;
          background-color: #f20000;
          color: #fff;
          border: none;
          border-radius: 10px;
          transition: all 0.2s ease-in-out;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: #761818;
          }
        }

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 18px;
          color: #fff;
          background-color: #472183;
          cursor: pointer;
          border-radius: 0px 0px 0px 10px;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #fff;
            color: #472183;
          }
        }
        .newButton {
          position: absolute;
          top: 40px; /* Ayarlanabilir değer */
          right: 0;
          padding: 5px;
          font-size: 18px;
          color: #fff;
          background-color: #ff0000; /* İstediğiniz renk */
          cursor: pointer;
          border-radius: 0px 0px 0px 10px;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #fff;
            color: #ff0000;
          }
        }

        .item {
          display: flex;
          gap: 20px;

          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            .itemTitle {
              margin-bottom: 10px;
              color: #555;
            }

            .detailItem {
              margin-bottom: 10px;
              font-size: 14px;

              .itemKey {
                font-weight: bold;
                color: gray;
                margin-right: 5px;
              }

              .itemValue {
                font-weight: 300;
              }
            }
          }
        }
      }

      .right {
        flex: 2;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;
      }
    }

    .bottom {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;
      }

      .right {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;
      }
    }

    .end {
      flex: 1;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      position: relative;
    }

    .title {
      font-size: 16px;
      color: lightgray;
      margin-bottom: 20px;
    }
  }
}
