.list {
  display: flex;
  width: 100%;
  .listContainer {
    flex: 6;
    .subListContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;
      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
    .addProjectButton {
      margin: 10px 10px;
      .newProjectButton {
        background-color: #1ae427;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
      }

      .newProjectButton:hover {
        background-color: #1c7913;
      }
    }
  }
}
