.datatableTitle {
  width: 100%;
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  gap: 5px;
  width: auto;
}

.deleteButton {
  padding: 5px 10px;
  background-color: #4B56D2;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #472183;
}

.cellWithStatus {
  padding: 5px;
  border-radius: 5px;
}

.cellWithStatus.active {
  background-color: rgba(0, 128, 0, 0.05);
  color: green;
}

.cellWithStatus.pending {
  background-color: rgba(255, 217, 0, 0.05);
  color: goldenrod;
}

.cellWithStatus.passive {
  background-color: rgba(255, 0, 0, 0.05);
  color: crimson;
}
