.table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;

  .tableRow {
    &:nth-child(odd) {
      background-color: #ffffff;
    }

    &:hover {
      background-color: #f0f0f0;
      transition: background-color 0.5s ease-in-out; /* Renk değişimi 0.5 saniye sürsün ve yavaşça gerçekleşsin */
    }
  }

  .tableCell {
    padding: 16px;
    text-align: left;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  .tableHead {
    background-color: #f5f5f5;
    font-weight: 700;
  }

  .cellWrapper {
    display: flex;
    align-items: center;
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }

  .detailsButton {
    padding: 8px 16px;
    background-color: #4B56D2;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background-color: #472183;
    }
  }
}
