.sidebar {
  flex: 1;
  border-right: 0.5px solid lightgray;
  min-height: 100vh;
  background-color: white;
  .top {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .logo {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
      font-size: 20px;
      font-weight: bold;
      color: #4B56D2;
    }
  
    /* Dark Mode için ek stil kuralları */
    &.dark-mode {
      align-items: flex-start;
    }
  }
  
  
  hr {
    height: 0;
    border: 0.5px solid lightgray;
  }
  .center {
    padding-left: 10px;
    ul {
      list-style: none;
      margin: 8px;
      padding: 0;
      .title {
        font-size: 15px;
        font-weight: bold;
        color: #9999;
        margin-top: 5px;
      }
      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        &:hover {
          background-color: #4B56D2;
          transition: background-color 0.3s ease-in-out;
          border-radius: 10px;
          .icon {
            color: white;
          }
          span {
            color: white;
          }
        }
        .icon {
          font-size: 24px;
          color: #4B56D2;
        }
        span {
          font-size: 13px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
      &:nth-child(3) {
        background-color: darkblue;
      }
    }
  }
}
